# BNP Paribas Securities Services - Exploratory Data Analysis

**P√©riode** : Janvier 2024 - Septembre 2025

---
## 1. Configuration & Connexion √† la Base de Donn√©es

In [29]:
import pandas as pd
import numpy as np
import sqlite3
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from pathlib import Path
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

# Configuration Plotly
import plotly.io as pio
pio.templates.default = "plotly_white"

# Configuration des chemins
BASE_DIR = Path.home() / 'Desktop/BNP Paribas'
DB_PATH = BASE_DIR / 'Data/Processed/hobart_database.db'

# Connexion √† la base
conn = sqlite3.connect(str(DB_PATH))

# V√©rifier la connexion
tables_count = pd.read_sql_query("SELECT COUNT(*) as count FROM sqlite_master WHERE type='table';", conn)['count'][0]
views_count = pd.read_sql_query("SELECT COUNT(*) as count FROM sqlite_master WHERE type='view';", conn)['count'][0]

print("="*70)
print("üìä CONNEXION √Ä LA BASE DE DONN√âES HOBART")
print("="*70)
print(f"\n‚úÖ Connexion r√©ussie")
print(f"üìÇ Emplacement: {DB_PATH}")
print(f"üìã {tables_count} tables disponibles")
print(f"üëÅÔ∏è  {views_count} vues cr√©√©es\n")

======================================================================
üìä CONNEXION √Ä LA BASE DE DONN√âES HOBART
======================================================================

‚úÖ Connexion r√©ussie
üìÇ Emplacement: /Users/jo/Desktop/BNP Paribas/Data/Processed/hobart_database.db
üìã 14 tables disponibles
üëÅÔ∏è  8 vues cr√©√©es

---
## 2. Structure de la Base de Donn√©es

### Tables et Vues Disponibles

In [30]:
# Lister les tables
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;", conn)

print("="*70)
print("üìã TABLES PRINCIPALES")
print("="*70)
for table in tables['name'].values:
    if table != 'sqlite_stat1':  # Ignorer la table syst√®me
        print(f"  ‚Ä¢ {table}")

print("\n" + "="*70)

# Lister les vues
views = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='view' ORDER BY name;", conn)

print("üëÅÔ∏è  VUES OPTIMIS√âES")
print("="*70)
for view in views['name'].values:
    print(f"  ‚Ä¢ {view}")
    
print("\n")

======================================================================
üìã TABLES PRINCIPALES
======================================================================
  ‚Ä¢ activity
  ‚Ä¢ businessline
  ‚Ä¢ businesslineactivity
  ‚Ä¢ businesslineprocess
  ‚Ä¢ category
  ‚Ä¢ deskbusinesslinelink
  ‚Ä¢ history_activity
  ‚Ä¢ history_communication
  ‚Ä¢ history_sr
  ‚Ä¢ jur_user
  ‚Ä¢ label
  ‚Ä¢ sr
  ‚Ä¢ srcontact

======================================================================
üëÅÔ∏è  VUES OPTIMIS√âES
======================================================================
  ‚Ä¢ activity_history_view
  ‚Ä¢ complete_view
  ‚Ä¢ contact_effectiveness_metrics
  ‚Ä¢ monthly_desk_metrics
  ‚Ä¢ sr_activity_view
  ‚Ä¢ sr_history_view
  ‚Ä¢ sr_lifecycle_summary
  ‚Ä¢ weekly_sr_distribution

---
## 3. Vue d'Ensemble des Donn√©es

### Statistiques Globales

In [31]:
# Statistiques globales
stats = pd.read_sql_query("""
SELECT 
    (SELECT COUNT(*) FROM sr) as total_srs,
    (SELECT COUNT(*) FROM activity) as total_activities,
    (SELECT COUNT(*) FROM srcontact) as total_contacts,
    (SELECT COUNT(*) FROM history_sr) as total_sr_history,
    (SELECT COUNT(DISTINCT CATEGORY_ID) FROM sr) as unique_categories,
    (SELECT COUNT(DISTINCT JUR_DESK_ID) FROM sr) as unique_desks
""", conn)

print("="*70)
print("üìä STATISTIQUES GLOBALES DE LA BASE")
print("="*70)
print(f"\nüìã Service Requests (SRs) : {stats['total_srs'][0]:,}")
print(f"üéØ Activit√©s : {stats['total_activities'][0]:,}")
print(f"üìû Communications (Contacts) : {stats['total_contacts'][0]:,}")
print(f"üìú Historique SR (lignes) : {stats['total_sr_history'][0]:,}")
print(f"\nüìÇ Cat√©gories uniques : {stats['unique_categories'][0]:,}")
print(f"üè¢ Desks actifs : {stats['unique_desks'][0]:,}")
print("\n")

======================================================================
üìä STATISTIQUES GLOBALES DE LA BASE
======================================================================

üìã Service Requests (SRs) : 2,370,662
üéØ Activit√©s : 183,248
üìû Communications (Contacts) : 11,437,378
üìú Historique SR (lignes) : 15,086,275

üìÇ Cat√©gories uniques : 1,565
üè¢ Desks actifs : 877

---
## 4. P√©riode Temporelle Couverte

In [32]:
# P√©riode temporelle
date_range = pd.read_sql_query("""
SELECT 
    MIN(CREATIONDATE) as first_sr,
    MAX(CREATIONDATE) as last_sr,
    COUNT(DISTINCT strftime('%Y-%m', CREATIONDATE)) as unique_months
FROM sr
WHERE CREATIONDATE IS NOT NULL
""", conn)

first_date = pd.to_datetime(date_range['first_sr'][0])
last_date = pd.to_datetime(date_range['last_sr'][0])
months_span = date_range['unique_months'][0]

print("="*70)
print("üìÖ P√âRIODE TEMPORELLE")
print("="*70)
print(f"\nüóìÔ∏è  Premier SR : {first_date.strftime('%d %B %Y')}")
print(f"üóìÔ∏è  Dernier SR : {last_date.strftime('%d %B %Y')}")
print(f"üìä Mois couverts : {months_span} mois")
print(f"‚è±Ô∏è  Dur√©e totale : {(last_date - first_date).days} jours\n")

======================================================================
üìÖ P√âRIODE TEMPORELLE
======================================================================

üóìÔ∏è  Premier SR : 03 January 2023
üóìÔ∏è  Dernier SR : 31 December 2025
üìä Mois couverts : 36 mois
‚è±Ô∏è  Dur√©e totale : 1093 jours

In [33]:
conn = sqlite3.connect(str(DB_PATH))

In [34]:
# Top 50 SRs tri√©s par date de cr√©ation (plus t√¥t d'abord)
sr_top50_early = pd.read_sql_query("""
SELECT *
FROM sr
WHERE CREATIONDATE IS NOT NULL
ORDER BY CREATIONDATE ASC
LIMIT 50
""", conn)

sr_top50_early['CREATIONDATE'] = pd.to_datetime(sr_top50_early['CREATIONDATE'])
display(sr_top50_early)

,ID,SRNUMBER,CATEGORY_ID,SUBCATEGORY_ID,JUR_ASSIGNEE_ID,STATUS_ID,EXPECTED_FIRST_RESPONSE_DATE,EXPECTED_ACKNOWLEDGEMENT_DATE,EXPIRATION_DATE,CLOSINGDATE,JUR_DESK_ID,CREATIONDATE,PRIORITY_ID,ROOTSR_ID,TYPE_ID,QUICK_FULFILLMENT_ID,QUICK_ANSWER,DEMAND_DATE,ACKNOWLEDGE_DATE,INTERNAL_FLAG,REOPEN_DATE,ALERT,ISSCHEDULER,UPDATE_DATE,NEXTACTNUMBER,CREATOR_ID,JUR_ASSIGNEDGROUP_ID,ESTIMATEDTIME,PRODUCERUSER_ID,PRODUCERDATE,CHECKERUSER_ID,CHECKERDATE,CALCDUEDATE,HAS_NEW,WORKFLOW_ID,ISSUER,EFFECTIVE_FIRST_RESPONSE_DATE,CONFIRMATION_TO_BE_SENT,FINAL_RESPONSE_DATE,REMINDER_DATE,INITIAL_TASK_ID,SUSPEND_DURATION,TREATMENT_TIME,AUTO_SUGGEST,SR_DRAFT_TYPE,LEAD_TIME_EX1,LEAD_TIME_EX3,LEAD_TIME_EX2,LEAD_TIME_EX4,LEAD_TIME_EX5,IS_MULTICHANNEL_SR,FIRST_ACTION_EMAIL_DATE,REPLY_TIME,ISSUER_TYPE_VALUE
0,11425541,[TAXGCDE-SEB-9363],331418,331419,18011.0,33,None,None,2025-09-26 16:00:00,2025-10-11 07:05:46.570000,74605,2023-01-03 09:06:26.215,1719,None,1729,869492.0,0,2023-01-03 09:05:31.763000,None,0,2025-10-22 19:04:53.719000,0,0,2025-12-15 07:28:49.699000,NaN,26585,74605,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,2025-07-21 08:03:38.036000,2025-09-25 16:00:00,None,None,6638:58:06,None,None,None,None,None,None,6638:57:12,0,2025-06-23 11:00:28.697000,2084920.0,0
1,11430023,[TAXGCDE-SEB-9379],331418,331419,18011.0,4,None,None,2025-09-24 16:00:00,None,74605,2023-01-03 12:39:52.880,1719,None,1729,869492.0,0,2023-01-03 12:39:34.945000,None,0,None,0,0,2025-12-18 09:50:18.286000,NaN,26585,74605,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,None,2025-09-23 16:00:00,None,None,None,None,None,None,None,None,None,2444:20:7,0,2023-10-23 07:21:31.217000,89886.0,0
2,11430297,[TAXGCDE-SEB-9384],331418,331419,18011.0,7,None,None,2025-09-22 16:00:00,2025-12-15 12:41:03.572000,74605,2023-01-03 12:55:44.725,1719,None,1729,869492.0,0,2023-01-03 12:55:22.686000,None,0,None,0,0,2025-12-15 12:41:03.572000,NaN,26585,74605,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,2025-11-04 10:27:17.160000,2025-09-19 16:00:00,None,None,7397:31:54,None,None,None,None,None,None,7397:31:32,0,2025-09-24 13:15:52.360000,1123102.0,0
3,11491128,[TACS-SAN-4073],505685,505686,25379.0,7,2023-01-31 09:58:08,2022-12-21 09:58:08,2026-01-02 17:00:00,2025-12-23 09:44:51.537000,77115,2023-01-10 07:22:55.435,1719,None,1730,966631.0,0,2022-12-20 09:58:08,None,0,2024-04-18 13:06:31,0,0,2025-12-23 09:44:51.537000,NaN,25379,77115,None,NaN,None,None,None,None,0,1749,INTERNAL,None,1,2025-12-23 09:44:51.658000,2025-12-31 17:00:00,None,None,5903:46:43,None,None,124:1:52,5903:46:43,None,None,5779:44:51,0,None,NaN,0
4,11501399,[ITAM3PT-FMA-1604],291371,291387,44965.0,7,2023-11-08 09:52:02.939000,2023-11-08 09:52:02.939000,2025-12-03 18:00:00,2025-12-03 16:53:40.280000,77589,2023-01-10 15:49:16.650,1720,None,1729,969668.0,0,2023-01-10 15:48:36.717000,2023-01-10 16:13:03.711000,0,2025-11-27 14:25:21.221000,0,0,2025-12-03 16:53:40.280000,23.0,9777,77589,None,NaN,None,None,None,None,0,1749,CLIENT,None,1,2025-12-03 12:33:34.944000,2025-12-03 17:00:00,None,None,1264:15:02,None,None,None,None,None,0:23:47,1264:14:22,0,None,NaN,1
5,11509304,[TAXEUROIPT-DEB-13524],172255,214186,35272.0,33,2023-11-28 15:35:28.845000,2023-11-23 15:35:28.845000,2025-06-26 17:00:00,None,75365,2023-01-11 10:39:29.066,1719,None,1730,774412.0,0,2023-01-11 10:39:01.524000,2023-01-11 10:49:42.033000,0,2025-12-04 11:46:51.975000,0,0,2025-12-15 10:04:14.143000,NaN,19052,75365,None,NaN,None,None,None,None,0,1749,INTERNAL,2023-06-20 09:12:49.206000,1,2025-06-12 15:16:19.838000,2025-06-16 17:00:00,None,1305:31:45,None,None,None,None,None,None,0:10:12,None,0,None,NaN,1
6,11513508,[INVBE-SJA-1218],422511,422512,43989.0,7,None,None,2023-01-30 02:30:00,2025-12-30 12:20:58.373000,73905,2023-01-11 14:31:17.726,1719,None,1779,749464.0,0,2023-01-11 14:30:31.071000,None,0,2025-12-30 12:14:21.668000,1,0,2025-12-30 12:20:58.373000,NaN,24302,73905,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,2025-12-30 12:18:41.499000,2023-01-27 11:30:00,None,None,350:11:52,None,None,None,None,None,None,350:11:05,0,2023-01-26 16:42:32.377000,388053.0,0
7,11515163,[CCSCAMNETWORK-TGE-2406],252549,478916,20012.0,4,None,None,2025-09-30 16:00:00,None,76408,2023-01-11 15:52:05.358,1719,None,1779,NaN,0,2023-01-11 15:47:59,2023-01-11 16:08:03.161000,0,None,1,0,2025-12-30 14:27:18.650038,NaN,20012,76408,None,NaN,None,None,None,None,0,1749,INTERNAL,None,1,None,2025-09-29 16:00:00,None,None,None,None,None,0:4:6,2381:12:1,0:20:4,0:15:57,2381:7:54,0,None,NaN,0
8,11529283,[T2SAM2-SCH-25],327439,327445,14029.0,4,None,None,None,None,73238,2023-01-12 16:00:01.568,1719,None,1729,NaN,0,2023-01-12 15:59:24.895000,None,0,None,0,1,2025-12-17 15:13:10.565000,NaN,19290,73238,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,None,None,None,None,None,None,None,None,None,None,None,2371:59:58,0,None,NaN,1
9,11550601,[ITAM3PT-FMA-1637],291371,291387,28541.0,7,2023-07-13 14:32:39.147000,2023-07-13 14:32:39.147000,2025-11-28 18:00:00,2025-12-15 11:32:09.894000,77589,2023-01-16 10:31:27.481,1720,None,1729,969668.0,0,2023-01-16 10:30:07.476000,2023-01-16 10:58:12.707000,0,2025-12-12 15:33:24.522000,0,0,2025-12-15 11:32:09.894000,41.0,9777,77589,None,NaN,None,None,None,None,0,1749,CLIENT,None,1,2025-12-15 11:32:10.537000,2025-11-28 17:00:00,None,256:48:11,1853:06:54,None,None,None,None,None,0:26:45,1853:05:34,0,2024-06-05 14:20:07.947000,12995237.0,1
10,11583210,[JHIFO-SCH-84],381588,381593,NaN,4,None,None,None,None,74991,2023-01-18 14:47:22.840,1719,None,1779,NaN,0,2023-01-18 14:46:33.604000,None,0,None,1,1,2025-12-05 09:59:30.068000,NaN,17031,74991,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,None,None,None,None,None,None,None,None,None,None,None,3033:12:37,0,None,NaN,1
11,11583369,[JHIFO-SCH-87],381588,381593,NaN,4,None,None,None,None,74991,2023-01-18 14:55:12.857,1719,None,1779,NaN,0,2023-01-18 14:54:24.919000,None,0,None,1,1,2025-12-05 09:58:58.531000,NaN,17031,74991,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,None,None,None,None,None,None,None,None,None,None,None,3033:4:47,0,None,NaN,1
12,11590001,[CAM2-ROS-2483],478489,478494,19976.0,35,None,None,2026-01-30 17:00:00,None,76088,2023-01-19 08:51:05.647,1720,None,1779,NaN,0,2023-01-19 08:48:59.779000,None,0,None,0,0,2025-12-22 09:24:42.818000,NaN,26679,76088,None,26679.0,2025-07-31 08:00:52.642000,None,None,None,0,1750,CLIENT,None,1,None,2026-01-30 16:00:00,None,None,None,None,None,None,None,None,None,2024:8:54,0,None,NaN,1
13,11600909,[APACCUSTODYAO-POO-13006],332479,332480,19722.0,7,2023-01-18 23:00:00,2023-01-18 07:30:47,2023-01-18 23:00:00,2025-12-30 09:16:37.478000,74625,2023-01-19 22:26:27.138,1719,None,1729,NaN,0,2023-01-17 15:18:47,None,0,2025-12-24 01:04:25.914000,0,0,2025-12-30 09:16:37.478000,NaN,24355,74625,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,2025-12-30 06:00:18.329000,2023-01-18 09:00:00,None,None,4592:11:48,None,None,22:0:0,4592:11:48,None,None,4570:11:48,0,2023-02-16 01:25:49.099000,842149.0,1
14,11601379,[GCSG-APR-21553],172255,284394,20584.0,7,None,2023-01-23 02:05:18,2023-01-24 02:05:18,2025-12-19 02:05:34.629000,72979,2023-01-20 02:20:41.094,1719,None,1732,NaN,0,2023-01-20 02:05:18,None,0,2024-06-20 16:16:51,0,0,2025-12-19 02:05:34.629000,NaN,5963,72979,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,2023-04-14 09:41:09.130000,2023-01-24 01:05:18,None,77:5:32,1471:05:09,None,None,0:15:23,1471:05:09,None,None,1470:49:45,0,None,NaN,1
15,11620536,[BP2SCIICGTAX-NIM-380],583624,583627,16301.0,4,2023-01-19 15:50:25,2023-01-19 15:50:25,2023-01-23 15:50:25,None,78238,2023-01-23 11:03:25.841,1719,None,1729,NaN,0,2023-01-18 15:50:25,None,0,None,1,0,2025-12-01 11:48:19.574317,NaN,22188,78238,None,NaN,None,None,None,None,0,1749,CLIENT,None,1,None,2023-01-23 14:50:25,None,None,None,None,None,35:44:15,1881:40:50,None,None,1845:56:34,0,2023-01-23 11:35:46.244000,130555.0,0
16,11660601,[BP2SCIICGTAX-HHU-393],583629,583632,29218.0,4,2023-01-25 12:46:37,2023-01-25 12:46:37,2023-01-27 12:46:37,None,78238,2023-01-26 10:58:55.437,1719,None,1730,NaN,0,2023-01-24 12:46:37,None,0,None,1,0,2025-12-31 10:50:39.241000,NaN,22592,78238,None,NaN,None,None,None,None,0,1749,THIRD_PARTY,None,1,None,2023-01-27 11:46:37,None,None,None,None,None,14:12:18,1836:13:23,None,None,1822:1:4,0,None,NaN,1
17,11678737,[GCUKTAX-VVT-4122],172255,214183,9743.0,7,None,2023-01-26 11:38:37,2025-10-23 17:00:00,2025-12-16 14:59:13.817000,73123,2023-01-27 15:30:25.026,1719,None,1730,860961.0,0,2023-01-25 11:38:37,None,0,2025-12-16 14:48:56.848000,0,0,2025-12-16 14:59:13.817000,37.0,9743,73123,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,2025-12-16 14:52:53.862000,2025-10-23 16:00:00,None,None,769:09:24,None,None,23:51:48,769:09:24,None,None,745:17:36,0,None,NaN,0
18,11700002,[APACCUSTODYAO-POO-13130],332454,332457,23401.0,33,2023-02-01 06:09:38,2023-01-31 07:30:38,2023-02-01 06:09:38,2025-08-29 00:31:11.633000,74625,2023-01-31 08:52:37.393,1719,None,1729,NaN,0,2023-01-31 06:09:38,None,0,2025-09-09 12:06:53.543000,1,0,2025-12-12 13:48:09.564896,NaN,24355,74625,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,2024-03-25 00:32:09.566000,2023-02-01 05:09:38,None,None,3086:20:17,None,None,2:48:36,3086:25:54,None,None,3083:37:17,0,2023-02-03 07:21:27.876000,123384.0,0
19,11710828,[TAXIEGBPT-VMI-2490],172255,214186,7956.0,4,2023-04-10 07:00:00,2023-02-03 08:00:00,2024-04-05 17:00:00,None,75366,2023-01-31 18:49:39.132,1720,None,1729,746396.0,0,2023-01-31 18:48:15.488000,2023-01-31 18:58:45.918000,0,None,1,0,2025-12-05 10:07:39.993885,NaN,16671,75366,None,NaN,None,None,None,None,0,1749,INTERNAL,None,1,None,2024-04-05 16:00:00,None,None,None,None,None,None,None,None,0:0:0,2240:0:0,0,None,NaN,1
20,11714008,[INVFR-RAH-11485],166163,422506,24202.0,7,None,None,2023-02-17 02:30:00,2025-12-30 13:43:34.915000,73907,2023-02-01 08:15:49.249,1719,None,1729,749534.0,0,2023-01-31 14:58:15,None,0,2025-12-30 08:01:24.025000,1,0,2025-12-30 13:43:34.915000,NaN,19271,73907,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,2025-12-30 08:16:56.333000,2023-02-16 11:30:00,None,None,169:40:09,None,None,3:17:34,169:40:09,None,None,166:22:35,0,2023-02-01 17:07:46.863000,43733.0,0
21,11723761,[CUSTODYCAMTAX-FSG-5635],478936,478940,20820.0,7,None,None,2025-04-06 17:00:00,2025-12-15 09:29:39.859000,76098,2023-02-01 15:36:24.722,1719,None,1730,NaN,0,2023-02-01 15:33:41.037000,None,0,2024-12-18 17:07:44,0,0,2025-12-15 09:29:39.859000,2.0,20820,76098,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,2025-12-15 09:29:39.962000,2025-04-04 15:00:00,None,5013:57:30,5702:50:15,None,None,None,None,None,None,5702:47:32,0,None,NaN,1
22,11725250,[GCUKTAX-VVT-4137],172255,214187,9743.0,6,None,2023-02-02 16:52:29.275000,2026-01-12 18:00:00,None,73123,2023-02-01 16:52:29.272,1720,None,1729,NaN,0,2023-02-01 16:52:11.698000,2025-10-24 13:32:09.277000,0,2025-10-16 08:24:43.588000,0,0,2025-12-22 09:08:54.590000,37.0,9743,73123,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,2025-08-21 10:49:57.635000,2026-01-12 17:00:00,None,None,None,None,None,None,None,7116:18:28,7116:39:40,None,0,2023-02-17 16:25:16.395000,429083.0,1
23,11730487,[GCSG-APR-21721],172255,214187,27855.0,7,None,2023-02-03 07:24:31,2023-02-06 07:24:31,2025-12-18 02:57:51.215000,72979,2023-02-02 09:08:32.984,1719,None,1729,NaN,0,2023-02-02 07:24:31,None,0,None,1,0,2025-12-18 02:57:51.215000,NaN,5963,72979,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,2025-12-15 06:37:59.750000,2023-02-06 06:24:31,None,None,7469:13:28,None,None,1:44:1,7469:13:28,None,None,7467:29:26,0,2023-02-02 09:19:40.745000,6880.0,1
24,11769110,[GC5QUERIES-TLR-11146],291371,360426,19667.0,7,2023-01-24 16:59:01,None,2025-11-04 17:00:00,2025-12-31 08:14:52.071000,77072,2023-02-06 16:39:19.284,1719,None,1729,940622.0,0,2023-01-24 14:59:01,None,0,2025-12-29 10:01:35.580000,0,0,2025-12-31 08:14:52.071000,NaN,14853,77072,None,NaN,None,None,None,None,0,1749,CLIENT,None,0,2025-12-31 08:14:46.642000,2025-11-04 16:00:00,None,519:13:37,681:03:06,None,None,100:40:18,681:03:06,None,None,580:22:47,0,2023-02-06 16:52:41.259000,363184.0,1
25,11772573,[LISTAXITALY-MAR-15945],172255,460503,18910.0,4,2023-02-13 16:47:04,2023-02-08 16:47:04,2023-02-13 16:47:04,None,72857,2023-02-07 07:54:23.947,1719,None,1729,893556.0,0,2023-02-06 16:47:04,None,0,None,1,0,2025-12-29 15:06:02.852000,NaN,26034,72857,None,NaN,None,None,None,None,0,1749,INTERNAL,None,1,None,2023-02-13 15:47:04,None,5:34:59,None,None,None,1:38:5,2201:38:5,None,None,2200:0:0,0,None,NaN,0
26,11776107,[BBOTRADEGATE-SCH-5],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 10:20:37.824,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:38:01.071000,NaN,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1977:39:22,0,None,NaN,1
27,11776578,[BBOTRADEGATE-SCH-8],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 10:41:58.855,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:36:53.179000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1977:18:1,0,None,NaN,1
28,11776731,[BBOTRADEGATE-SCH-9],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 10:49:20.688,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:37:31.568000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1977:10:39,0,None,NaN,1
29,11776854,[BBOTRADEGATE-SCH-11],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 10:55:20.459,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:39:04.423000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1977:4:39,0,None,NaN,1
30,11776905,[BBOTRADEGATE-SCH-12],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 10:57:48.309,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:38:29.395000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1977:2:11,0,None,NaN,1
31,11777034,[BBOTRADEGATE-SCH-14],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:03:42.551,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:39:45.600000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:56:17,0,None,NaN,1
32,11777117,[BBOTRADEGATE-SCH-16],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:07:29.004,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,1,1,2025-12-03 10:14:14.818000,1.0,12135,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:52:30,0,None,NaN,1
33,11777158,[BBOTRADEGATE-SCH-17],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:09:09.512,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 11:01:15.976000,1.0,12135,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:50:50,0,None,NaN,1
34,11777184,[BBOTRADEGATE-SCH-18],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:10:29.217,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 11:00:50.179000,1.0,12135,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:49:30,0,None,NaN,1
35,11777258,[BBOTRADEGATE-SCH-21],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:14:29.915,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:58:30.262000,1.0,12135,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:45:30,0,None,NaN,1
36,11777266,[BBOTRADEGATE-SCH-22],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:14:50.291,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:40:07.468000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:45:9,0,None,NaN,1
37,11777364,[BBOTRADEGATE-SCH-24],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:20:11.721,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:53:04.278000,1.0,12135,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:39:48,0,None,NaN,1
38,11777441,[BBOTRADEGATE-SCH-26],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:24:09.162,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:59:37.998000,1.0,12135,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:35:50,0,None,NaN,1
39,11777482,[BBOTRADEGATE-SCH-29],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:26:45.863,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-17 16:58:32.832000,1.0,12135,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:33:14,0,None,NaN,1
40,11777512,[BBOTRADEGATE-SCH-30],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:28:19.590,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:40:38.184000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:31:40,0,None,NaN,1
41,11777839,[BBOTRADEGATE-SCH-34],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:42:57.829,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:41:38.232000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:17:2,0,None,NaN,1
42,11777881,[BBOTRADEGATE-SCH-35],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 11:44:38.724,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:46:40.588000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1976:15:21,0,None,NaN,1
43,11778455,[BBOTRADEGATE-SCH-37],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 12:10:43.931,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:50:40.662000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1975:49:16,0,None,NaN,1
44,11778485,[BBOTRADEGATE-SCH-38],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 12:12:09.015,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:48:30.939000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1975:47:50,0,None,NaN,1
45,11778512,[BBOTRADEGATE-SCH-39],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 12:13:42.085,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-01 10:49:18.867000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1975:46:17,0,None,NaN,1
46,11778533,[BBOTRADEGATE-SCH-40],987821,987822,NaN,4,None,None,None,None,73822,2023-02-07 12:14:57.587,1719,None,1730,1106820.0,0,2023-02-07 10:16:45.299000,None,0,None,0,1,2025-12-10 16:53:29.015000,1.0,12136,73822,None,NaN,None,None,None,None,0,1749,INTERNAL,None,0,None,None,None,None,None,None,None,None,None,None,None,1975:45:2,0,None,NaN,1

---
## 5. Distribution des Volumes par Table

In [35]:
# Volumes par table
table_volumes = []
main_tables = ['sr', 'activity', 'srcontact', 'history_sr', 'history_activity', 'history_communication']

for table in main_tables:
    try:
        count = pd.read_sql_query(f"SELECT COUNT(*) as count FROM {table}", conn)['count'][0]
        table_volumes.append({'Table': table.upper(), 'Lignes': count})
    except:
        pass

df_volumes = pd.DataFrame(table_volumes).sort_values('Lignes', ascending=False)

print("="*70)
print("üìä VOLUME DE DONN√âES PAR TABLE")
print("="*70)
print()
display(df_volumes)

# Visualisation
fig = px.bar(
    df_volumes, 
    x='Table', 
    y='Lignes',
    title='Volume de Lignes par Table Principale',
    text='Lignes',
    color='Lignes',
    color_continuous_scale='Blues'
)

fig.update_traces(texttemplate='%{text:,.0f}', textposition='outside')
fig.update_layout(height=500, showlegend=False)
fig.show()

======================================================================
üìä VOLUME DE DONN√âES PAR TABLE
======================================================================

                   Table    Lignes
5  HISTORY_COMMUNICATION  30988063
3             HISTORY_SR  15086275
2              SRCONTACT  11437378
0                     SR   2370662
4       HISTORY_ACTIVITY   1100518
1               ACTIVITY    183248

---
## 6. Structure des Tables Principales

### Inspection des Colonnes et Types de Donn√©es

In [36]:
# Fonction pour afficher la structure d'une table
def show_table_structure(table_name):
    schema = pd.read_sql_query(f"PRAGMA table_info({table_name})", conn)
    
    print(f"\n{'='*70}")
    print(f"üìã TABLE: {table_name.upper()}")
    print(f"{'='*70}\n")
    
    # Afficher les colonnes
    for idx, row in schema.iterrows():
        col_name = row['name']
        col_type = row['type']
        pk = " üîë PRIMARY KEY" if row['pk'] == 1 else ""
        notnull = " ‚ö†Ô∏è NOT NULL" if row['notnull'] == 1 else ""
        
        print(f"  ‚Ä¢ {col_name:<30} {col_type:<15} {pk}{notnull}")
    
    # Compter les lignes
    count = pd.read_sql_query(f"SELECT COUNT(*) as count FROM {table_name}", conn)['count'][0]
    print(f"\n  üìä Total de lignes : {count:,}\n")

# Afficher la structure des tables principales
for table in ['sr', 'activity', 'srcontact']:
    show_table_structure(table)

======================================================================
üìã TABLE: SR
======================================================================

  ‚Ä¢ ID                             INTEGER
  ‚Ä¢ SRNUMBER                       TEXT
  ‚Ä¢ CATEGORY_ID                    INTEGER
  ‚Ä¢ SUBCATEGORY_ID                 INTEGER
  ‚Ä¢ JUR_ASSIGNEE_ID                REAL
  ‚Ä¢ STATUS_ID                      INTEGER
  ‚Ä¢ EXPECTED_FIRST_RESPONSE_DATE   TIMESTAMP
  ‚Ä¢ EXPECTED_ACKNOWLEDGEMENT_DATE  TIMESTAMP
  ‚Ä¢ EXPIRATION_DATE                TIMESTAMP
  ‚Ä¢ CLOSINGDATE                    TIMESTAMP
  ‚Ä¢ JUR_DESK_ID                    INTEGER
  ‚Ä¢ CREATIONDATE                   TIMESTAMP
  ‚Ä¢ PRIORITY_ID                    INTEGER
  ‚Ä¢ ROOTSR_ID                      REAL
  ‚Ä¢ TYPE_ID                        INTEGER
  ‚Ä¢ QUICK_FULFILLMENT_ID           REAL
  ‚Ä¢ QUICK_ANSWER                   INTEGER
  ‚Ä¢ DEMAND_DATE                    TIMESTAMP
  ‚Ä¢ ACKNOWLEDGE_DATE               TIMESTAMP
  ‚Ä¢ INTERNAL_FLAG                  INTEGER
  ‚Ä¢ REOPEN_DATE                    TIMESTAMP
  ‚Ä¢ ALERT                          INTEGER
  ‚Ä¢ ISSCHEDULER                    INTEGER
  ‚Ä¢ UPDATE_DATE                    TIMESTAMP
  ‚Ä¢ NEXTACTNUMBER                  REAL
  ‚Ä¢ CREATOR_ID                     INTEGER
  ‚Ä¢ JUR_ASSIGNEDGROUP_ID           INTEGER
  ‚Ä¢ ESTIMATEDTIME                  REAL
  ‚Ä¢ PRODUCERUSER_ID                REAL
  ‚Ä¢ PRODUCERDATE                   TIMESTAMP
  ‚Ä¢ CHECKERUSER_ID                 REAL
  ‚Ä¢ CHECKERDATE                    TIMESTAMP
  ‚Ä¢ CALCDUEDATE                    TIMESTAMP
  ‚Ä¢ HAS_NEW                        INTEGER
  ‚Ä¢ WORKFLOW_ID                    INTEGER
  ‚Ä¢ ISSUER                         TEXT
  ‚Ä¢ EFFECTIVE_FIRST_RESPONSE_DATE  TIMESTAMP
  ‚Ä¢ CONFIRMATION_TO_BE_SENT        INTEGER
  ‚Ä¢ FINAL_RESPONSE_DATE            TIMESTAMP
  ‚Ä¢ REMINDER_DATE                  TIMESTAMP
  ‚Ä¢ INITIAL_TASK_ID                REAL
  ‚Ä¢ SUSPEND_DURATION               TEXT
  ‚Ä¢ TREATMENT_TIME                 TEXT
  ‚Ä¢ AUTO_SUGGEST                   REAL
  ‚Ä¢ SR_DRAFT_TYPE                  TEXT
  ‚Ä¢ LEAD_TIME_EX1                  TEXT
  ‚Ä¢ LEAD_TIME_EX3                  TEXT
  ‚Ä¢ LEAD_TIME_EX2                  TEXT
  ‚Ä¢ LEAD_TIME_EX4                  TEXT
  ‚Ä¢ LEAD_TIME_EX5                  TEXT
  ‚Ä¢ IS_MULTICHANNEL_SR             INTEGER
  ‚Ä¢ FIRST_ACTION_EMAIL_DATE        TIMESTAMP
  ‚Ä¢ REPLY_TIME                     REAL
  ‚Ä¢ ISSUER_TYPE_VALUE              INTEGER

  üìä Total de lignes : 2,370,662


======================================================================
üìã TABLE: ACTIVITY
======================================================================

  ‚Ä¢ ID                             INTEGER
  ‚Ä¢ SR_ID                          INTEGER
  ‚Ä¢ CREATIONDATE                   TIMESTAMP
  ‚Ä¢ CLOSINGDATE                    TIMESTAMP
  ‚Ä¢ STATUS_ID                      INTEGER
  ‚Ä¢ TYPE_ID                        INTEGER
  ‚Ä¢ IMPORTANCE_ID                  INTEGER
  ‚Ä¢ NOTIFIED                       INTEGER
  ‚Ä¢ NOTIFICATIONDATE               TIMESTAMP
  ‚Ä¢ EXPIRATIONDATE                 REAL
  ‚Ä¢ RESOLUTION_LABEL_ID            REAL
  ‚Ä¢ UPDATE_DATE                    TIMESTAMP
  ‚Ä¢ PRODUCERDATE                   TIMESTAMP
  ‚Ä¢ CHECKERDATE                    TIMESTAMP
  ‚Ä¢ ACTNUMBER                      TEXT
  ‚Ä¢ CRAFT_ACTIVITY_ID              REAL
  ‚Ä¢ JUR_ASSIGNEDGROUP_ID           INTEGER
  ‚Ä¢ JUR_OWNERGROUP_ID              REAL
  ‚Ä¢ JUR_OWNER_ID                   REAL
  ‚Ä¢ JUR_ASSIGNEDUSER_ID            REAL
  ‚Ä¢ PRODUCERUSER_ID                REAL
  ‚Ä¢ CHECKERUSER_ID                 REAL
  ‚Ä¢ COMPLETIONDATE                 TIMESTAMP
  ‚Ä¢ WORKFLOW_ID                    INTEGER
  ‚Ä¢ TASK_NUMBER                    REAL
  ‚Ä¢ IS_DRAFT                       INTEGER
  ‚Ä¢ LAST_UPDATE_BY_DESK            INTEGER
  ‚Ä¢ CREATOR_DESK_ID                INTEGER
  ‚Ä¢ CREATOR_USER_ID                INTEGER
  ‚Ä¢ IS_ACCEPTED                    REAL
  ‚Ä¢ IS_QUICK_TASK                  REAL
  ‚Ä¢ ACCEPTED_DATE                  TIMESTAMP
  ‚Ä¢ REJECTED_DATE                  TIMESTAMP
  ‚Ä¢ CHASER_NUMBER                  INTEGER

  üìä Total de lignes : 183,248


======================================================================
üìã TABLE: SRCONTACT
======================================================================

  ‚Ä¢ ID                             INTEGER
  ‚Ä¢ SR_ID                          INTEGER
  ‚Ä¢ CREATIONDATE                   TIMESTAMP
  ‚Ä¢ SUCCESS                        REAL
  ‚Ä¢ OUTBOUND                       INTEGER
  ‚Ä¢ MEDIUM_ID                      REAL
  ‚Ä¢ IS_DRAFT                       INTEGER
  ‚Ä¢ RECEPTION_DATE                 TIMESTAMP
  ‚Ä¢ INTEGRATION_DATE               TIMESTAMP
  ‚Ä¢ IMPORTANCE                     TEXT
  ‚Ä¢ HAS_ATTACHMENT                 REAL
  ‚Ä¢ IS_AUTOLINK                    REAL
  ‚Ä¢ IS_LOCKED                      REAL
  ‚Ä¢ IS_DR_REQUESTED                INTEGER
  ‚Ä¢ IS_READ                        REAL
  ‚Ä¢ IS_RR_REQUEST                  REAL
  ‚Ä¢ IS_RE_REQUESTED                INTEGER
  ‚Ä¢ DATE_TIME_SENT                 TIMESTAMP
  ‚Ä¢ MAILBOX_ID                     INTEGER
  ‚Ä¢ EMAIL_TYPE                     TEXT
  ‚Ä¢ FIRST_READ_BY                  REAL
  ‚Ä¢ FIRST_READ_DATE                TIMESTAMP
  ‚Ä¢ LAST_LINKED_BY                 REAL
  ‚Ä¢ LAST_LINKED_DATE               TIMESTAMP
  ‚Ä¢ LAST_REMOVED_BY                REAL
  ‚Ä¢ LAST_REMOVED_DATE              TIMESTAMP
  ‚Ä¢ LAST_ARCHIVED_BY               REAL
  ‚Ä¢ LAST_ARCHIVED_DATE             TIMESTAMP
  ‚Ä¢ JUR_CREATOR_ID                 REAL
  ‚Ä¢ JUR_LOCKED_BY                  REAL
  ‚Ä¢ STATUS                         INTEGER
  ‚Ä¢ FLAG_LABEL_ID                  REAL
  ‚Ä¢ CONFIRMATION_TO_BE_SENT        INTEGER
  ‚Ä¢ EMAIL_CATEGORY                 TEXT
  ‚Ä¢ TEMPLATE_APPLIED               REAL
  ‚Ä¢ IS_FORWARDED                   REAL
  ‚Ä¢ FORWARDING_DATE                TIMESTAMP
  ‚Ä¢ FORWARDED_BY                   REAL
  ‚Ä¢ EMAIL_SEND_FOR_APPROVAL_ID     REAL
  ‚Ä¢ EMAIL_APPROVED_BY_ID           REAL
  ‚Ä¢ EMAIL_REJECTED_BY_ID           REAL
  ‚Ä¢ EMAIL_SEND_FOR_APPROVAL_DATE   TIMESTAMP
  ‚Ä¢ EMAIL_APPROVED_DATE            TIMESTAMP
  ‚Ä¢ EMAIL_REJECTED_DATE            TIMESTAMP
  ‚Ä¢ FOUR_EYE_CHECK_ENABLED         INTEGER
  ‚Ä¢ SENSITIVITY_ID                 REAL
  ‚Ä¢ AUTO_SUGGEST                   TEXT

  üìä Total de lignes : 11,437,378

---
## 7. √âchantillons de Donn√©es

### Aper√ßu des Premi√®res Lignes

In [37]:
# √âchantillon de la table SR
print("="*70)
print("üìã √âCHANTILLON: TABLE SR (5 premi√®res lignes)")
print("="*70)
print()

sample_sr = pd.read_sql_query("""
SELECT 
    ID,
    SRNUMBER,
    CATEGORY_ID,
    STATUS_ID,
    PRIORITY_ID,
    CREATIONDATE,
    CLOSINGDATE,
    JUR_DESK_ID
FROM sr 
LIMIT 5
""", conn)

display(sample_sr)

======================================================================
üìã √âCHANTILLON: TABLE SR (5 premi√®res lignes)
======================================================================

,ID,SRNUMBER,CATEGORY_ID,STATUS_ID,PRIORITY_ID,CREATIONDATE,CLOSINGDATE,JUR_DESK_ID
0,20733499,[PROXYHUB-CES-11257],158224,7,1719,2024-12-16 14:48:59.753000,2025-01-28 07:47:21.360000,71958
1,20973516,[PROXYHUB-VPR-11305],158224,7,1719,2025-01-02 09:48:48.807000,2025-01-03 12:00:44.728000,71958
2,21118903,[PROXYHUB-SER-11337],462499,7,1720,2025-01-10 11:00:46.171000,2025-01-27 09:17:49.133000,71958
3,21314667,[PROXYHUB-VPR-11374],158264,7,1720,2025-01-22 09:35:57.026000,2025-01-22 14:37:46.148000,71958
4,21377448,[PROXYHUB-SER-11386],158224,7,1719,2025-01-24 16:23:54.644000,2025-01-28 07:47:50.595000,71958

In [38]:
# √âchantillon de la table ACTIVITY
print("\n" + "="*70)
print("üéØ √âCHANTILLON: TABLE ACTIVITY (5 premi√®res lignes)")
print("="*70)
print()

sample_activity = pd.read_sql_query("""
SELECT 
    ID,
    SR_ID,
    TYPE_ID,
    STATUS_ID,
    CREATIONDATE,
    CLOSINGDATE
FROM activity 
LIMIT 5
""", conn)

display(sample_activity)

======================================================================
üéØ √âCHANTILLON: TABLE ACTIVITY (5 premi√®res lignes)
======================================================================

,ID,SR_ID,TYPE_ID,STATUS_ID,CREATIONDATE,CLOSINGDATE
0,1898978,15489299,1579,31,2024-01-09 18:23:40.582000,2024-01-11 11:47:42.569000
1,1889810,15458004,1579,31,2024-01-03 15:55:44.626000,2024-01-03 16:57:22.625000
2,1891187,15470504,1579,31,2024-01-04 11:58:33.645000,2024-01-04 13:26:31.475000
3,1902051,15524639,1579,31,2024-01-11 10:55:02.368000,2024-01-11 11:04:11.110000
4,1889805,15458004,1579,31,2024-01-03 15:55:08.758000,2024-01-04 11:36:50.365000

In [39]:
# Fermer la connexion
conn.close()
print("‚úÖ Connexion ferm√©e")

‚úÖ Connexion ferm√©e

In [40]:
import sqlite3
import pandas as pd
pd.set_option('display.max_columns', None)
conn = sqlite3.connect("../Data/Processed/hobart_database.db")

tables = pd.read_sql_query(
    "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%' ORDER BY name;",
    conn
)["name"].tolist()

for t in tables:
    print(f"\n=== {t} ===")
    df = pd.read_sql_query(f"SELECT * FROM {t} LIMIT 5;", conn)
    display(df)

conn.close()

=== activity ===

,ID,SR_ID,CREATIONDATE,CLOSINGDATE,STATUS_ID,TYPE_ID,IMPORTANCE_ID,NOTIFIED,NOTIFICATIONDATE,EXPIRATIONDATE,RESOLUTION_LABEL_ID,UPDATE_DATE,PRODUCERDATE,CHECKERDATE,ACTNUMBER,CRAFT_ACTIVITY_ID,JUR_ASSIGNEDGROUP_ID,JUR_OWNERGROUP_ID,JUR_OWNER_ID,JUR_ASSIGNEDUSER_ID,PRODUCERUSER_ID,CHECKERUSER_ID,COMPLETIONDATE,WORKFLOW_ID,TASK_NUMBER,IS_DRAFT,LAST_UPDATE_BY_DESK,CREATOR_DESK_ID,CREATOR_USER_ID,IS_ACCEPTED,IS_QUICK_TASK,ACCEPTED_DATE,REJECTED_DATE,CHASER_NUMBER
0,1898978,15489299,2024-01-09 18:23:40.582000,2024-01-11 11:47:42.569000,31,1579,1577,0,2024-01-09 10:00:38,None,None,2024-01-11 11:47:42.569000,None,None,[AGEDINCCLAIMS-FLN-763].1,None,81567,None,None,36692.0,None,None,2024-01-11 11:47:42.569000,1751,1.0,0,81567,81567,8583,1.0,1.0,2024-01-11 11:47:40.677000,None,0
1,1889810,15458004,2024-01-03 15:55:44.626000,2024-01-03 16:57:22.625000,31,1579,1577,0,2024-01-03 18:00:44,None,None,2024-01-03 16:57:22.625000,None,None,[LCCUK1-RAR-164731].4,None,73246,None,None,28525.0,None,None,2024-01-03 16:57:22.625000,1751,4.0,0,73246,73246,10326,1.0,1.0,2024-01-03 16:05:51.346000,None,0
2,1891187,15470504,2024-01-04 11:58:33.645000,2024-01-04 13:26:31.475000,31,1579,1577,0,2024-01-05 09:43:58,None,None,2024-01-04 13:26:31.475000,None,None,[ITAM2PT-NAR-24409].1,None,73152,None,None,26619.0,None,None,2024-01-04 13:26:31.475000,1751,1.0,0,73152,73152,16820,1.0,1.0,2024-01-04 12:52:08.943000,None,0
3,1902051,15524639,2024-01-11 10:55:02.368000,2024-01-11 11:04:11.110000,31,1579,1577,0,2024-01-15 17:00:00,None,None,2024-01-11 11:04:11.110000,None,None,[ITAM1PT-TIA-16510].2,None,73151,None,None,26226.0,None,None,2024-01-11 11:04:11.110000,1751,2.0,0,73151,73151,25041,1.0,1.0,2024-01-11 10:56:16.585000,None,0
4,1889805,15458004,2024-01-03 15:55:08.758000,2024-01-04 11:36:50.365000,31,1579,1577,0,2024-01-03 18:00:44,None,None,2024-01-04 11:36:50.365000,None,None,[LCCUK1-RAR-164731].2,None,73246,None,None,35152.0,None,None,2024-01-04 11:36:50.365000,1751,2.0,0,73246,73246,10326,1.0,1.0,2024-01-03 16:45:29.255000,None,0

=== businessline ===

   ID  NAME
0   1  BP2S

=== businesslineactivity ===

   ID         NAME
0   3         IFSO
1   1          BSO
2  22  TRANSVERSAL

=== businesslineprocess ===

   ID                  NAME
0  18                   IRP
1  16            FUND ADMIN
2  15            DATA ADMIN
3  19         MIDDLE OFFICE
4  22  REGULATORY REPORTING

=== category ===

   ID                NAME
0   5  Domestic Execution
1  30         Cover check
2  34             EB-2000
3  37             Support
4  50             Account

=== deskbusinesslinelink ===

   DESK_ID  BUSINESSLINE_ID  BUSINESSLINE_ACTIVITY_ID  BUSINESSLINE_PROCESS_ID
0    74688                1                         3                       18
1    73080                1                         3                       16
2    73219                1                         3                       18
3    74116                1                         3                       16
4    73060                1                         3                       15

=== history_activity ===

,ID,ACTION,ACTION_DATE,USER_NAME,FIELD,ACTIVITY_ID
0,183147443,Close,2024-01-11 10:27:41.156000,11791.0,None,1901672
1,182445107,Close,2024-01-08 15:53:40.513000,20882.0,None,1895347
2,182647203,Re assign task,2024-01-09 10:39:38.088000,36242.0,owner,1894146
3,182647204,Save,2024-01-09 10:39:38.092000,36242.0,Task owner<br/>notification date<br/>assigned ...,1894146
4,181759214,Re assign task,2024-01-03 16:45:39.179000,35152.0,owner,1889805

=== history_communication ===

,ID,ACTION,ACTION_DATE,USER_NAME,FIELD,ACTIVITY_ID,COMMUNICATION_ID
0,184861851,Reply All,2024-01-19 12:38:17.913000,NaN,Subject,116226891.0,None
1,184957330,Save as draft,2024-01-19 16:56:00.758000,20593.0,Subject<br/>Priority<br/>from<br/>to<br/>cc<br...,116275859.0,None
2,184960855,Save as draft,2024-01-19 17:09:26.824000,20593.0,to<br/>cc<br/>4 eyes check,116275859.0,None
3,184960862,Send,2024-01-19 17:09:28.175000,20593.0,Subject,116275859.0,None
4,185034401,Save as draft,2024-01-22 08:56:59.373000,19413.0,Subject<br/>to,116336842.0,None

=== history_sr ===

,ID,SR_ID,ACTION,ACTION_DATE,USER_NAME,FIELD
0,209325921,15682571,AutoLink,2024-05-30 11:10:06.029737,NaN,None
1,209435569,17588733,Close,2024-05-30 15:56:08.995000,7947.0,Final Response Date
2,209457762,16974882,AutoLink,2024-05-30 19:18:12.683888,NaN,None
3,209468440,17592736,AutoLink,2024-05-31 01:41:14.225182,NaN,None
4,209468905,16304209,AutoLink,2024-05-31 01:48:58.026684,NaN,None

=== jur_user ===

      ID  FIRST_NAME  LAST_NAME
0  29515       29515      29515
1  28535       28535      28535
2  39305       39305      39305
3  28417       28417      28417
4  36293       36293      36293

=== label ===

   ID       NAME
0   4    ONGOING
1   5    PENDING
2   6  COMPLETED
3   7     CLOSED
4   8  ABANDONED

=== sr ===

,ID,SRNUMBER,CATEGORY_ID,SUBCATEGORY_ID,JUR_ASSIGNEE_ID,STATUS_ID,EXPECTED_FIRST_RESPONSE_DATE,EXPECTED_ACKNOWLEDGEMENT_DATE,EXPIRATION_DATE,CLOSINGDATE,JUR_DESK_ID,CREATIONDATE,PRIORITY_ID,ROOTSR_ID,TYPE_ID,QUICK_FULFILLMENT_ID,QUICK_ANSWER,DEMAND_DATE,ACKNOWLEDGE_DATE,INTERNAL_FLAG,REOPEN_DATE,ALERT,ISSCHEDULER,UPDATE_DATE,NEXTACTNUMBER,CREATOR_ID,JUR_ASSIGNEDGROUP_ID,ESTIMATEDTIME,PRODUCERUSER_ID,PRODUCERDATE,CHECKERUSER_ID,CHECKERDATE,CALCDUEDATE,HAS_NEW,WORKFLOW_ID,ISSUER,EFFECTIVE_FIRST_RESPONSE_DATE,CONFIRMATION_TO_BE_SENT,FINAL_RESPONSE_DATE,REMINDER_DATE,INITIAL_TASK_ID,SUSPEND_DURATION,TREATMENT_TIME,AUTO_SUGGEST,SR_DRAFT_TYPE,LEAD_TIME_EX1,LEAD_TIME_EX3,LEAD_TIME_EX2,LEAD_TIME_EX4,LEAD_TIME_EX5,IS_MULTICHANNEL_SR,FIRST_ACTION_EMAIL_DATE,REPLY_TIME,ISSUER_TYPE_VALUE
0,20733499,[PROXYHUB-CES-11257],158224,158234,26539.0,7,None,None,2024-12-17 12:46:31,2025-01-28 07:47:21.360000,71958,2024-12-16 14:48:59.753000,1719,None,1729,NaN,0,2024-12-16 14:46:31,None,0,None,0,0,2025-01-28 07:47:21.360000,None,29241,71958,None,None,None,None,None,None,0,1749,INTERNAL,None,0,2025-01-21 16:58:20.197000,2024-12-17 11:46:31,None,0:0:3,262:11:49,None,None,0:2:28,262:11:49,None,None,262:09:20,0,None,None,0
1,20973516,[PROXYHUB-VPR-11305],158224,158226,26539.0,7,None,None,2025-01-02 17:48:48.809000,2025-01-03 12:00:44.728000,71958,2025-01-02 09:48:48.807000,1719,None,1779,NaN,0,2025-01-02 09:48:09.015000,None,0,None,0,0,2025-01-03 12:00:44.728000,None,26539,71958,None,None,None,None,None,None,0,1749,THIRD_PARTY,None,0,2025-01-03 11:56:57.728000,2025-01-02 16:48:48.809000,None,None,12:8:47,None,None,None,None,None,None,12:8:8,0,None,None,0
2,21118903,[PROXYHUB-SER-11337],462499,462502,26539.0,7,None,None,2025-01-13 09:00:04,2025-01-27 09:17:49.133000,71958,2025-01-10 11:00:46.171000,1720,None,1730,217355.0,0,2025-01-10 11:00:04,None,0,None,0,0,2025-01-27 09:17:49.133000,None,37513,71958,None,None,None,None,None,None,0,1749,INTERNAL,None,0,2025-01-22 12:21:23.634000,2025-01-13 08:00:04,None,None,81:21:19,None,None,0:0:42,81:21:19,None,None,81:20:36,0,None,None,0
3,21314667,[PROXYHUB-VPR-11374],158264,158280,26539.0,7,None,None,2025-01-22 17:35:03,2025-01-22 14:37:46.148000,71958,2025-01-22 09:35:57.026000,1720,None,1730,1405866.0,0,2025-01-22 09:35:03,None,0,None,0,0,2025-01-22 14:37:46.148000,None,26539,71958,None,None,None,None,None,None,0,1749,THIRD_PARTY,None,0,2025-01-22 14:37:46.151000,2025-01-22 16:35:03,None,None,05:02:43,None,None,00:00:54,05:02:43,None,None,05:01:49,0,None,None,0
4,21377448,[PROXYHUB-SER-11386],158224,483490,26539.0,7,None,None,2025-01-27 14:20:44,2025-01-28 07:47:50.595000,71958,2025-01-24 16:23:54.644000,1719,None,1729,NaN,0,2025-01-24 16:20:44,None,0,None,0,0,2025-01-28 07:47:50.595000,None,37513,71958,None,None,None,None,None,None,0,1749,THIRD_PARTY,None,0,2025-01-27 17:16:25.662000,2025-01-27 13:20:44,None,None,10:55:41,None,None,00:03:10,10:55:41,None,None,10:52:30,0,None,None,0

=== srcontact ===

,ID,SR_ID,CREATIONDATE,SUCCESS,OUTBOUND,MEDIUM_ID,IS_DRAFT,RECEPTION_DATE,INTEGRATION_DATE,IMPORTANCE,HAS_ATTACHMENT,IS_AUTOLINK,IS_LOCKED,IS_DR_REQUESTED,IS_READ,IS_RR_REQUEST,IS_RE_REQUESTED,DATE_TIME_SENT,MAILBOX_ID,EMAIL_TYPE,FIRST_READ_BY,FIRST_READ_DATE,LAST_LINKED_BY,LAST_LINKED_DATE,LAST_REMOVED_BY,LAST_REMOVED_DATE,LAST_ARCHIVED_BY,LAST_ARCHIVED_DATE,JUR_CREATOR_ID,JUR_LOCKED_BY,STATUS,FLAG_LABEL_ID,CONFIRMATION_TO_BE_SENT,EMAIL_CATEGORY,TEMPLATE_APPLIED,IS_FORWARDED,FORWARDING_DATE,FORWARDED_BY,EMAIL_SEND_FOR_APPROVAL_ID,EMAIL_APPROVED_BY_ID,EMAIL_REJECTED_BY_ID,EMAIL_SEND_FOR_APPROVAL_DATE,EMAIL_APPROVED_DATE,EMAIL_REJECTED_DATE,FOUR_EYE_CHECK_ENABLED,SENSITIVITY_ID,AUTO_SUGGEST
0,167465386,19853877,2025-01-30 14:00:10.405000,NaN,1,NaN,0,None,None,Normal,NaN,NaN,NaN,0,1.0,0.0,0,2025-01-30 14:00:11.813000,5739,None,9592.0,2025-01-30 14:00:12.270000,None,None,None,None,None,None,NaN,None,13,None,0,NORMAL,0.0,0.0,None,None,None,None,None,None,None,None,0,22.0,None
1,152610548,19853877,2024-10-23 14:04:10.974452,0.0,0,1721.0,0,2024-10-23 14:03:50,2024-10-23 14:04:10.974452,Normal,1.0,0.0,0.0,0,1.0,0.0,0,2024-10-23 14:03:12,5739,HTML,9592.0,2024-10-24 09:00:57.225000,None,None,None,None,None,None,1095.0,None,6,None,0,NORMAL,0.0,NaN,None,None,None,None,None,None,None,None,0,NaN,TO_ARCHIVE
2,160813386,19853877,2024-12-16 12:34:45.818000,NaN,1,NaN,0,None,None,Normal,NaN,NaN,NaN,0,1.0,0.0,0,2024-12-16 12:34:46.891000,5739,None,9592.0,2024-12-16 12:34:47.389000,None,None,None,None,None,None,NaN,None,13,None,0,NORMAL,0.0,0.0,None,None,None,None,None,None,None,None,0,22.0,None
3,159961424,19853877,2024-12-10 15:10:33.262000,NaN,1,NaN,0,None,None,Normal,NaN,NaN,NaN,0,1.0,0.0,0,2024-12-10 15:10:34.743000,5739,None,9592.0,2024-12-10 15:10:35.419000,None,None,None,None,None,None,NaN,None,13,None,0,NORMAL,0.0,0.0,None,None,None,None,None,None,None,None,0,22.0,None
4,152736543,19853877,2024-10-24 09:03:50.534000,NaN,1,NaN,0,None,None,Normal,0.0,NaN,NaN,0,1.0,0.0,0,2024-10-24 09:03:53.110000,5739,None,9592.0,2024-10-24 09:03:54.245000,None,None,None,None,None,None,NaN,None,13,None,1,ACKNOWLEDGED,0.0,0.0,None,None,None,None,None,None,None,None,0,22.0,None